/* MOBILE FIRST STYLES */
body {
    margin:0;
    padding: 0;
    color: #1c1a17;
    font-family: 'Quicksand', sans-serif;
}

h1, p, a {
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    text-align: center;
}

h1{
    font-size: 20px;
}

p{
    font-size: 14px;
    color: #d3d0d6;
}

a {
    color:#9480ad;
    font-size: 14px;
}
.source-label{
    color: #d3d0d6;
    display: inline;
}
.sources{
    text-align: center;
}

.banner {
    background-color: #08121e;
    color: white;
    height: 23vh;
}

#mapid {
    height: 77vh;
    background-color: #08121e;
    z-index: 800;
}

p {
    font-family: 'Muli', sans-serif;
}

.leaflet-popup-content{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    margin:2px;
}

#magnitude{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#query {
    position: absolute;
    top: 160px;
    left: 5px;
    z-index: 1000;
    background: white;
    font-weight: bold;
    margin-right: 0;
    font-size: 12px;
  }

/* Change some styles for larger screens */
@media screen and (min-width: 760px) {
    .banner {
        height: 18vh;
    }
    #mapid {
        height: 82vh;
    }
    h1{
        font-size: 24px;
    } 
    p{
        font-size: 16px;
    }
    a {
        color:#9480ad;
        font-size: 16px;
    }
    #query {
        top: 130px;
        padding:5px;
        font-size: 16px;
    }
    .leaflet-popup-content{
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        margin:4px;
    }  
}
@media screen and (min-width: 1000px) {
    .banner {
        height: 15vh;
    }
    #mapid {
        height: 85vh;
    }
    #query {
        top: 105px;
    }  
}